@page
@model IndexModel
@{
    ViewData["Title"] = "Login Page";
}

<div class="card mb-0">
    <div class="card-body">
        <p class="text-center">Welcome to Ecommerce - LTT</p>
        <form name="loginForm" id="loginForm" method="post">
            <div class="mb-3">
                <label for="usernameInput" class="form-label">Username</label>
                <input type="text" class="form-control" name="username" id="usernameInput">
            </div>
            <div class="mb-4">
                <label for="passwordInput" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" id="passwordInput">
            </div>
            <div class="d-flex align-items-center justify-content-between mb-4">
                <a class="text-primary fw-bold" asp-area="" asp-page="/Index">Forgot Password ?</a>
            </div>
            <button type="submit" class="btn btn-primary w-100 fs-4 mb-4 rounded-2">Sign In</button>
        </form>
        @if (!string.IsNullOrEmpty(Model.message))
        {
            <div class="alert alert-danger" role="alert">
                @Model.message
            </div>
        }
    </div>
</div>